<%- include ('../partials/header'); %>

 <%- include ('../partials/alerts'); %>

<section id="userLoginForm">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4>Kyqja e perdoruesit</h4>
          </div>
            <div class="card-block">
              <form class="p-3" action="/auth/user-login" method="POST">
                <div class="form-group">
                  <label class="form-control-label">Emri i perdoruesit</label>
                  <input type="text" name="username" placeholder="Emri i perdoruesit" class="form-control">
                </div>
                <div class="form-group">
                  <label class="form-control-label">Fjalekalimi</label>
                  <input type="password" name="password" placeholder="Fjalekalimi" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login!</button><p></p><p></p>
                <p>Nuk keni llogari? Regjistrohu <a href="/auth/user-signUp">ketu!</a></p>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include ('../partials/footer'); %>